<section class="about-us">
    <div class="about">
        <img src="../../../assets/images/{{single[0].image}}" class="pic" alt="">
      <div class="text">
        
        <!-- <h5>Odissi<span>  .</span></h5> -->
        <h1>{{single[0].name}}</h1>
        <br>
        <p>{{single[0].desc1}}</p>
        
              <div class="data">
        <a routerLink="./single-page" class="hire"> <- BACK </a>
        </div>
      </div>
    </div>
  </section>
<!-- <div class="container">
    <div class="col">
        <div class="row mb-5">
    <img src="../../../assets/images/{{single[0].image1}}" class="pic" alt="" height="500px" width="500px">


<p>{{single[0].desc1}}</p>
</div> 
</div>
</div> -->